<%- include('partials/header') %>

<div class="container text-center device-width">
  <header>
    <h1 class="container text-center" style="margin-top: 30px;">Welcome to Morgan's Recruitment</h1>
  </header>
  <main>
    <img src="https://picsum.photos/600/400" alt="A group of people working in an office" class="img-fluid" style="margin-top: 20px;"/>
    <p class="container text-center text-muted" style="margin-top: 30px;">
      Welcome to Morgan's Recruitment! We are a recruitment agency that helps companies find the best talent for their open positions. <br /> We also help job seekers find their dream job. Whether you are a company looking to
      hire new employees or a job seeker looking for a new opportunity, we are here to help you.
  </main>
</div>
  <%- include('partials/footer') %>

